
:root {
    --background-color: #78A2CC;
    --listbg1: #C0EFFF;
    --bgpale: #0081FF
    --listbg2: #DEF7FF;
    --text-color: #102542;
    --bgpale2: #F5F5F4;

    --list-bg-experimental: #f2f5fa;
    --card-bg-experimental: #f9fafb;
}
.header {
    background-color: var(--bgpale);
    color: var(--text-color);
    padding-top: 10px;
    padding-bottom: 10px;   
    padding-left: 10px;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.header img {
    margin-right: 50px;
    margin-left: 10px;
    width: 48px;
}
.header h1 {
    width: 180px;
}

body {
    font-family: Arial, sans-serif;
    width: 320px;
    height: 600px;
    margin: 0;
    padding: 0;

}

#deck-list {
    width: 320px;
    height: auto;
    overflow-y: auto;
    background-color: var(--list-bg-experimental);
}

.card-div {
  border-radius: 10px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: var(--card-bg-experimental);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card-remove-button {
  background-color: transparent;
  color: white;
  border: none;
  /* padding: 5px 10px; */
  border-radius: 5px;
  cursor: pointer;
  float: right;
  width: auto;
}

.card-remove-button:hover {
    font-size: 1.3em;
}

.card-name {
  width: 80%;
  float: left;
  font-weight: bold;
  font-size: 1.1em;
}

.deck-list-button {
    width: 100%;
    background-color: var(--bgpale2);
    border: none;
    /* border-bottom: 3px dotted var(--background-color); */
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    opacity: 0.6;
    
}

.deck-list-button:hover {
    background-color: var(--listbg2);
    opacity: 1;
}